.Chat__Main
  .Chat__Main__Header
    .Chat__Main__Header__LeftBox
      %p.CurrentGroup
        = @group.name
      %ul.MemberList
        Member:
        %li.UserName
          - @group.users.each do |user|
            = user.name
    .Chat__Main__Header__RightBox
      %p.Edit__Btn
        =link_to edit_group_path(@group.id), class: "Btn" do
          Edit
  .Chat__Main__Message
    = render @messages
  .Chat__Main__Form
    = form_with model: [@group, @message], html: {class: "NewMessage"}, local: true do |f|
      .InputMessage
        = f.text_field :content, class: 'InputText', placeholder: 'type a message'
        = f.label :image, class: 'InputImage' do
          = icon('far', 'image', class: 'ImageIcon')
          = f.file_field :image, class: 'ImageFile'
      = f.submit 'SEND', class: 'SubmitBtn'