.Chat__Side
  .Chat__Side__Header
    .Chat__Side__Header__Box
      %p.User__Name
        = current_user.name
      %ul.Icon__Menu
        %li.New__Group
          =link_to new_group_path(current_user), class: "New__Icon" do
            = icon('far', 'edit')
        %li.Edit__User
          =link_to edit_user_path(current_user), class: "Edit__Icon" do
            = icon('fas', 'cog')
  .Chat__Side__Group
    - current_user.groups.each do |group|
      .Chat__Side__Group__Box
        = link_to group_messages_path(group) do
          %p.Group__Name
            = group.name
          %p.Message
            = group.show_last_message